.container {
  margin-top: 100px;
  width: 400px;
  height: 600px;
  border: 1px solid black;
  background-color: rgb(240, 255, 194);
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
}

.heading {
  font-family: "Fredoka", sans-serif;
  transform: rotate(3deg);
}
